torch==2.3.0 --extra-index-url https://download.pytorch.org/whl/cu118
torchvision==0.18.0 --extra-index-url https://download.pytorch.org/whl/cu118
torchaudio==2.3.0 --extra-index-url https://download.pytorch.org/whl/cu118
pandas 
gdown
dvc
mlflow==2.2.2
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
-e .